
<div class="row">
  
    <h1 class="page-header">
      Your Favorites 
      <div class="btn-clear-wrap"><button class="btn btn-default" (click)="onClearFavorites()">Clear all</button></div>
    </h1>
  
    <div class="no-results bg-warning" *ngIf="!movieFavorites.length" >
      
      <p><strong>You have no favorites selected yet <i class="fa fa-frown-o"></i></strong></p>
      <p>Start adding movies with the <i class="fa fa-star"></i> to fill up this list!</p>

    </div>

    <app-movie-item *ngFor="let movieEl of movieFavorites; let i = index" [movie]="movieEl" [movieIndex]="i" [favoritesList]="true"></app-movie-item>
    
  </div>
  