<div class="row">
  <hr />
  <h2>Reviews</h2>
  <p>&nbsp;</p>

  <div class="no-results bg-warning" *ngIf="!reviews.length" >
      
    <strong>There are no reviews for this movie yet <i class="fa fa-frown-o"></i></strong>

  </div>

  <div *ngIf="reviews.length">
    <app-movie-reviews-item
      *ngFor="let reviewEl of reviews"
      [review]="reviewEl"
    ></app-movie-reviews-item>
  </div>

</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      
      <h4>Write a review</h4>
      <form role="form" [formGroup]="reviewForm" (ngSubmit)="reviewSubmitHandler()">
        <div class="form-group" [ngClass]="reviewForm.get('author').invalid && reviewForm.get('author').touched ? 'has-error' : ''">
          <label for="exampleInputEmail1">Your name</label>
          <input formControlName="author" type="text" class="form-control" placeholder="Enter full name">
        </div>
        <div class="form-group" [ngClass]="reviewForm.get('content').invalid && reviewForm.get('content').touched ? 'has-error' : ''">
          <label for="exampleInputPassword1">Review</label>
          <textarea formControlName="content"  class="form-control" cols="30" rows="10" placeholder="Your review"></textarea>
        </div>
        <button [disabled]="reviewForm.invalid" class="btn btn-default">Add Review</button>
      </form>
      
    </div>
  </div>

</div>
