<div id="navbar" class="navbar-collapse collapse-in col-sm-12 col-md-5">

  <form class="navbar-form navbar-left">
    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchInput" name="search"  (keyup.enter)="onSearch()">
    <button type="button" class="btn btn-primary" (click)="onSearch()">Go!</button>
  </form>

  <!-- <div class=" input-group stylish-input-group">
    <input type="text" class="form-control"  placeholder="Search" >
    <span class="input-group-addon">
        <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>  
    </span>
</div>
   -->
</div>


