<ul class="nav nav-sidebar">
  <li><a routerLink="/">Most Popular <span class="sr-only">(current)</span></a></li>
    
  <li *ngFor="let genre of genresRemote" routerLinkActive="active"><a [routerLink]="'/genre/'+genre.id">{{ genre.name }}</a></li>

</ul>