<div class="row">

    <h1 class="page-header"><span>Movies /</span> {{ movieRemote?.title }} </h1>

    <div class="col-sm-12 col-md-4">

      <p class="poster">
        <img [src]="movieRemote?.poster_path" width="350" class="img" [lazyLoad]="movieRemote.poster_path" [offset]="300">
      </p>

      <div class="favorite" (click)="onUpdateFavorite($event, movieRemote)" [class.active]="movieRemote.favorite">
        <i class="fa fa-star"></i> <span *ngIf="!movieRemote.favorite">Add to favorites</span> <span *ngIf="movieRemote.favorite">Remove from favorites</span> 
      </div>

    </div>

    <div class="col-sm-12 col-md-8">
      <div class="descr bg-warning">
        
        <h3>{{ movieRemote?.title }} ({{ movieRemote?.release_year }})</h3>

        <p>
            {{ movieRemote?.overview }}
        </p>

        <ul class="genres">
            <li *ngFor="let genre of movieRemote?.genres"><a [routerLink]="[ '/genre', genre.id ]">{{ genre.name }}</a></li>
        </ul>

        <div class="backdrop" *ngIf="movieRemote?.backdrop_path" ><img [src]="movieRemote?.backdrop_path" width="1280" class="img" [lazyLoad]="movieRemote?.backdrop_path" [offset]="300"></div>

      </div>
    </div>

</div>

<app-movie-reviews></app-movie-reviews>


