.descr {
	border-radius: 4px 4px 0 0;
	padding: 30px 40px;
}

h1 span {
	color: #828181;
	font-size: 27px;
}

.poster {
	img {
		display: block;
		width: 100%;
	}
}

.backdrop {
	width: 100%;
	display: block;
	margin-top: 30px;

	img {
		width: 100%;
		display: block;
	}
}

.descr {
	h3 {
		margin-top: 0;
	}
}

ul.genres {

	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	margin: 30px 0;

	li {
		display: inline-block;
		margin-right: 10px;


		a {
			display: block;
			padding: 5px 10px;
			background: #e0d9b1;
			color: #735555;
			text-decoration: none;

			&:hover {
				background: #337ab7;
				color: white;
				
			}
		}
	}
}

.favorite {
	margin: 20px 0;
	padding: 15px 20px;
	background: black;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	display: block;

	i {
		color: white;
		font-size: 25px;
		padding-right: 15px;
		position: relative;
		top: 3px;
	}

	&:hover, &.active {
		i {
			color: #cfd203;
		}
	}

	&.active {
		opacity: .5;

		&:hover {
			opacity: 1;
		}
	}
}