<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>
      <form class="form-signin" #formCtrl="ngForm">
          <span id="reauth-email" class="reauth-email"></span>
          <input [(ngModel)]="user.email" type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"  required autofocus>
          <input [(ngModel)]="user.password" type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <!-- <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div> -->
          <button (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
      </form><!-- /form -->
      <p class="text-muted">E-mail: test@angular.com / Pw: test123</p>
      <!-- <a href="#" class="forgot-password">
          Forgot the password?
      </a> -->
  </div><!-- /card-container -->
</div><!-- /container -->