<h1 class="page-header">Update your profile</h1>

<form role="form" [formGroup]="profileForm" (ngSubmit)="profileSubmitHandler()">

  <div class="form-group" [ngClass]="profileForm.get('firstname').invalid && profileForm.get('firstname').touched ? 'has-error' : ''">
    <label for="exampleInputEmail1">Firstname</label>
    <input formControlName="firstname" type="text" class="form-control" placeholder="Enter firstname">
  </div>

  <div class="form-group" [ngClass]="profileForm.get('lastname').invalid && profileForm.get('lastname').touched ? 'has-error' : ''">
    <label for="exampleInputEmail1">Lastname</label>
    <input formControlName="lastname" type="text" class="form-control" placeholder="Enter lastname">
  </div>

  

  <div class="form-group" [ngClass]="profileForm.get('profile_picture').invalid && profileForm.get('profile_picture').touched ? 'has-error' : ''">
    <label for="exampleInputEmail1">Profile picture</label>
    <input formControlName="profile_picture" type="hidden" class="form-control" placeholder="">
    
    <div class="panel panel-default profile-image-wrap">
        <div class="panel-body">

          <div class="loader"><span [style.width]="(uploadPercent | async) + '%'"></span></div>

          <div class="img-preview" *ngIf="userProfile?.profile_picture"><img [src]="userProfile?.profile_picture" width="200"></div>


          <input type="file" (change)="uploadFile($event)" />
           <!-- <div>{{ uploadPercent | async }}</div> -->
          <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
        
        </div>


        
    </div>

  </div>



  

  

  <button [disabled]="profileForm.invalid" class="btn btn-primary">Update Profile</button>

</form>