.img-preview {
	padding: 15px 0;
}

.profile-image-wrap {
	 position: relative;

	.loader {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: #dcdcdc;

		span {
			display: block;
			width: 0%;
			height: 5px;
			background: #418bcd;
			transition: width 150ms ease-in-out;
		}
	}


}