.movie-item {

	a {
		display: block;
		text-decoration: none;
	}

	.movie-cover {
		display: block;
		position: relative;	
		background: #ececec;
//		box-shadow:inset 0px 0px 0px 10px #f00;

		.img {
			display: block;
			width: 100%;
			padding-top: 150%; /* 8:5 Aspect Ratio */
		}

		/* hover overlay */
		&:after, &:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(black, .4);
			opacity: 0;
			z-index: 0;
			transition: opacity 100ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
		}

			&:hover:after {
				opacity: 1;
			}

		.nr {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			padding: 5px 10px;
			background: rgba(black, .5);
			color: white;
			font-weight: bold;
			font-size: 16px;
			z-index: 1;
		}

		.favorite-icon {
			color: white;
			position: absolute;
			right: 5px;
			bottom: 5px;
			font-size: 25px;
			opacity: .5;
			padding: 10px;
			background: rgba(black, .7);
			z-index: 1;

			&.fa-trash {
				color: white;

				&:hover {
					opacity: 1;
					color: red;
				}
			}

			&.fa-star {
				&:hover, &.active {
					opacity: 1;
					color: #cfd203;
				}
			}
		
			

			
		}
	}

	h4 {
		font-size: 16px;
		height: 35px;
		overflow: hidden;
		margin-bottom: 30px;
		font-weight: bold;
		color: #737373;
	}

}


