<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2  movie-item">
  <a [routerLink]="'/movie/'+movie.id">
    <span class="movie-cover">
      <span class="img" [lazyLoad]="movie.poster_path" [offset]="300" ></span>
      <span class="nr">{{ movieIndex + 1 }}</span>
      <i class="fa favorite-icon"  [ngClass]="favoritesList === true ? 'fa-trash' : 'fa-star'" (click)="onUpdateFavorite($event, movie)" [class.active]="movie.favorite"></i>
    </span>
    <h4>{{ movie.title }}</h4>
  </a>
</div>

