.descr {
  font-size: 12px;
  line-height: 20px;

}

.panel-heading {
  position: relative;
}

i.fa-trash {
  position: absolute;
  top: 9px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    color: red;
  }
}