<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">
      By <strong>{{ review.author }}</strong>
    </h3>
    <i class="fa fa-trash" (click)="onRemoveReview(review)" *ngIf="review.key && authService.isLoggedIn()"></i>
  </div>
  <div class="panel-body descr">
    <read-more
      [text]="review.content"
      [maxLength]="200"
      [showToggleButton]="true"
      class="review-item"
    ></read-more>
  </div>
</div>
