<div class="row">
  
  <h1 class="page-header">{{ genreName }}</h1>

  <app-movie-item *ngFor="let movieEl of moviesRemote; let i = index" [movie]="movieEl" [movieIndex]="i"></app-movie-item>


  <div class="loading" [ngClass]="loading ? 'active' : '' " >
    <div class="spinner"><div class="dot1"></div><div class="dot2"></div></div>
    Loading movies
  </div>

  
</div>