.row {
    // transform: translateZ(0);
}

    .loading {
        position: fixed;
        bottom: 0;
        right: 0;
        text-align: center;
        z-index: 500;
        padding: 10px 15px;
        background: rgba(black, .7);
        color: white;
        font-weight: bold;
        margin: 15px;
        padding-left: 40px;
        opacity: 0;
        transition: opacity 150ms ease-in-out 2000ms;

        .spinner {
            position: absolute;
            top: 10px;
            left: 15px;
        }

        &.active {
            opacity: 1;
            transition-delay: 0ms;
        }
    }


