<div class="alerts-wrap">
    <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
        <i class="fa fa-info-circle info"></i>
        <span [innerHTML]="alert.message"></span>
        <a class="close" (click)="removeAlert(alert)">&times;</a>
    </div>
</div>
