.alerts-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50000;
    text-align: center;
    padding-top: 15px;

    .alert {
        display: table;
        margin: 0 auto;
        margin-bottom: 5px;
        border: none;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        padding-left: 45px;

        i.info {
            position: absolute;
            top: 13px;
            left: 15px;
            font-size: 25px;
            color: #5a5a5a;
        }
    }
}