<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="'/'">YouFlix</a>

      <!-- <a href="#" class="btn btn-info btn-sm visible-xs pull-right">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a> -->

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <div id="navbar" class="navbar-collapse collapse">

      <div class="navbar-form navbar-right favorites-btn">

          <app-navbar-account></app-navbar-account>

      </div>

      <alert></alert>
    
    </div>   
    

  </div>

  <div class="loading-bar" [ngClass]="{active: loading}"  ><span></span></div>

</nav>



<div class="container-fluid">

  <div class="loading-overlay" [ngClass]="{active: loading}" *ngIf="loading" ></div>

  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      

    <ul class="nav nav-sidebar">
      <li routerLinkActive="active"><a [routerLink]="'/dashboard/profile'">My profile</a></li>
    </ul> 
      

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">      


      <router-outlet></router-outlet>


    </div>
  </div>
</div>



