/* You can add global styles to this file, and also import other style files */
.spinner {
    // margin: 100px auto;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: white;
    background-color: rgba(white, .9);
    opacity: .8;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: rgba(white, .7);
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }


.img {
    display: block;
    background-size: cover;
    opacity: 0;
    transition: opacity 1000ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
    will-change: opacity;

    &.ng-lazyloaded {
        opacity: 1;
    }
}

.loading-bar {
  height: 4px;
  background: #c1c1c1;
  position: relative;
  z-index: 10;
  transition: opacity 150ms ease-in-out 2000ms;

  span {
      width: 0%;
      height: 4px;
      display: block;
      background: #337ab7;
  }

  &.active {
      span {
          animation: load 500ms infinite cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
      }
  }
}

  @keyframes load {
      0% { 
      width: 0%;

      } 100% { 
          width: 100%;
      }
  }

.loading-overlay {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 54px;
  position: fixed;
  z-index: 2000;
  background: rgba(white, .8);
  opacity: 0;
  transition: opacity 150ms ease-in-out 2000ms;

  &.active {
      opacity: 1;
  }

}
