<ul class="nav navbar-nav navbar-right">
  <li class="dropdown" [ngClass]="menuOpen ? 'open' : ''" ><span class="dropdown-toggle" data-toggle="dropdown" (click)="menuOpen = !menuOpen">
      <i class="fa fa-cog"></i>
    </span>
      <ul class="dropdown-menu">
          <li>
              <div class="navbar-content">
                  <div class="row">
                      
                      <div *ngIf="!userDetails">
                        <div class="col-md-12">
                          <p style="text-align: center"><strong>You are not signed in.</strong></p>
                        </div>
                      </div>


                      <div *ngIf="userDetails"> 
                        <div class="col-md-5">
                            <img *ngIf="userProfile"  [src]="userProfile.profile_picture"
                                alt="Alternate Text" class="img-responsive" />
                            <p class="text-center small">
                                <a [routerLink]="['/dashboard/profile']">Change Photo</a></p>
                        </div>
                        <div class="col-md-7">
                            <span> {{ userProfile?.firstname }} {{ userProfile?.lastname }} </span>
                            <p class="text-muted small">
                                {{ userDetails?.email }}</p>
                            <div class="divider">
                            </div>
                            <a [routerLink]="['/dashboard/profile']" class="btn btn-primary btn-sm active">View Profile</a>
                        </div>
                      </div>


                  </div>
              </div>
              <div class="navbar-footer">
                  <div class="navbar-footer-content">
                      <div class="row">
                          <div class="col-md-12">
                            
                            <a [routerLink]="'/login'" *ngIf="!authService.isLoggedIn()" class="btn btn-default btn-sm pull-right">Sign In</a>

                            <a *ngIf="authService.isLoggedIn()" (click)="authService.logout()" class="btn btn-default btn-sm pull-right">Sign Out</a>

                          </div>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </li>
</ul>